<div class="form-group urls">
  <label class="col-lg-5 control-label" for="url_0">URL(s)</label>
  <div class="col-lg-7">
    <input class="form-control url" id="url_0" name="goal[url_0]" type="text">
  </div>
</div>
<div class="form-group">
  <a href="#" class="add-url"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;<a href="#" class="add-url">Add URL</a>          
</div>