<!DOCTYPE html>
<html>
<head>
  <title>URLminder</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="width:35%;">
  <div class="jumbotron">
    <div class="container">
      <p>
      Hi! If you are looking to beemind your wordcount, you'll want to visit
      <strong>
      <%= link_to "the new Official URLminder", "https://www.beeminder.com/urlminder" %>
      </strong>
      to set up your goal.
      </p>
      <p>
      If you are looking for the old sample Rails app, for an example of an oAuth client that connects to Beeminder's API, you can find the code for that
      <%= link_to "in Github", "https://github.com/beeminder/urlminder" %>.
      </p>
    </div>
  </div>
</div>

</body>
</html>
